

<body>

    <app-menu></app-menu>
 
     <main id="main" class="main">
 
         <div class="pagetitle">
             <h1>Les clients</h1>
             <nav>
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                     <li class="breadcrumb-item active"> Les Clients</li>
                     <li class="breadcrumb-item active"> List des Client</li>
                 </ol>
             </nav>
         </div>
         <!-- End Page Title -->
 
         <section class="section dashboard">
             <div class="row">
 
                 <!-- Left side columns -->
                 <div class="col-lg-12">
                     <div class="row">
                         <!-- Prodactes -->
                         <div class="col-12">
                             <div class="card top-selling overflow-auto">
                                 <div class="card-body pb-0">
 
                                     <h5 class="card-title">List des Clients </h5>
                                     <input class="form-control" type="text" name="name" [(ngModel)]="name"  (ngModelChange)="Search()" 
                                        placeholder="Entrez le nom pour rechercher">
                                     <table *ngIf="listClient.length > 0"  class="table table-borderless mt-5">
                                         <thead>
                                             <tr>
                                                 <th scope="col">Nom</th>
                                                 <th scope="col">Prénom</th>
                                                 <th scope="col">Email</th>
                                                 <th scope="col">Age</th>
                                                 <th scope="col">téléphone</th>
                                                 <th scope="col">Action</th>
                                             </tr>
                                         </thead>
 
                                         <tbody >
                                             <tr *ngFor ="let clients of listClient| paginate:{ itemsPerPage:6, currentPage: p}">
                                                 <td >{{clients.name}}</td>
                                                 <td>{{clients.lastname}}</td>
                                                 <td class="fw-bold">{{clients.email}}</td>
                                                 <td>{{clients.age}}</td>
                                                 <td>{{clients.telephone}}</td>
                                                 <td>
                                                     <i (click)="eliminateClient(clients._id)" class="fa fa-trash text-danger"></i>
                                                 </td>
                                             </tr>
                                         </tbody>
                                     </table>
                                     <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
                                     <h5 style="text-align: start; margin-top: 10px " *ngIf="listClient.length == 0">Aucun client a afficher </h5>
                                 </div>
                             </div>
                         </div>
                         <!-- End Prodactes -->
                     </div>
                 </div>
                 <!-- End Left side columns -->
             </div>
         </section>
     </main>
     <!-- End #main -->
 
    
 
 
 
 </body>
 
 