
<section class="container">
  <div class="client-sport client-sport-nomargin home-pg">
      <div class="content-banner">
            <ul class="sponsor second">
              <h3> Les <span>Sponsors</span><span class="point-little">.</span></h3>
              <li><img src="assets/user/images/sponsor/2/unimax.png" alt="" /></li>
              <li><img src="assets/user/images/sponsor/2/1.png" alt="" /></li>
              <li><img src="assets/user/images/sponsor/2/3.png" alt="" /></li>
              <li><img src="assets/user/images/sponsor/2/4.png" alt="" /></li>
              <li><img src="assets/user/images/sponsor/2/2.png" alt="" /></li>
              <li><img src="assets/user/images/sponsor/2/5.jpg" alt="" /></li>

           </ul>
       </div>
 </div>
</section>
   <!--SECTION FOOTER--> 
<section id="footer-tag">
  <div class="container">
    <div class="col-md-12">
     
     <div class="col-md-3 cat-footer">
       <h3 class='last-cat'>Menu</h3>
       <ul class="last-tips">
        <li><a href="/home">Acceuil</a></li>
        <li><a href="/coach">Qui somme nous ! </a></li>
        <li><a href="/shop">Boutique</a></li>
        <li><a href="/reservation">Commande</a></li>
        <li><a href="/contact">Contact</a></li>
       </ul>
     </div>
     <div class="col-md-3">
      <h3>El Awda Edition</h3>
      <p>C'est une maison d'édition engagée qui joue un rôle clé dans la promotion de la littérature tunisienne et maghrébine.</p>
      
   </div>
     
     <div class="col-md-3 footer-newsletters">
      <h3>Nos information</h3>
      <ul class="last-tips">
        <li><p style="color: blue"> Localisation :</p> 17 av. de la République 2013 Ben Arous</li>
        <li><p style="color: blue"> Téléphone :</p> 71 386 351 </li>
        <li><p style="color: blue"> Horaire de travail :</p>De 8am à 10pm</li>
        
       </ul>
    </div>
    <div class="col-md-3">
      <h3>Notre société </h3>
      <ul class="footer-last-news">
         <img src="assets/user/images/ameni1.jpg" alt="" />
         
      </ul>
   </div>
     <div class="col-xs-12">
       <ul class="social">
             <li><a href="https://www.facebook.com/elaoudaeditions"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="#"><i class="fa fa-digg"></i></a></li>
             <li><a href="#"><i class="fa fa-rss"></i></a></li>
             <li><a href="#"><i class="fa fa-youtube"></i></a></li>
             <li><a href="#"><i class="fa fa-tumblr"></i></a></li>

           </ul>
     </div>
    </div>
  </div>
</section>
