
<app-menu></app-menu>
<body>

    
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Les Coachs</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Les coachs
                    </li>
                    <li class="breadcrumb-item active"> List des coachs
                    </li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-12">
                    <div class="row">
                        <!-- Prodactes -->
                        <div class="col-12">
                            <div class="card top-selling overflow-auto">
                                <div class="card-body pb-0">

                                    <h5 class="card-title">List des Coachs <button class="btn btn-success float-end"
                                           routerLink="/addcoash">Ajouter Coach</button></h5>
                                           <input class="form-control" type="text" name="name" [(ngModel)]="name"  (ngModelChange)="Search()" 
                                           placeholder="Entrez le nom pour rechercher">
                                    <table *ngIf="listCoash.length > 0"  class="table table-borderless mt-5">
                                        <thead>
                                            <tr>
                                                <th scope="col">Image</th>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Prénom</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr *ngFor ="let coashs of listCoash | paginate:{ itemsPerPage:4, currentPage: p}">
                                                <td scope="row"><img [src]="'http://localhost:3000/'+coashs.avatar" class="card-img-top" alt="..."></td>
                                         
                                                <td>{{coashs.name}}</td>
                                                <td class="fw-bold">{{coashs.lastname}}</td>
                                                <td>{{coashs.email}}</td>
                                                <td>
                                                    <i [routerLink]="['/update-coash',coashs._id]" class="fa fa-edit text-success"></i>
                                                    <i (click)="eliminateCoash(coashs._id)" class="fa fa-trash text-danger"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
                                    <h5 style="text-align: start; margin-top: 10px " *ngIf="listCoash.length == 0">there are no coashs to display</h5>
                                </div>
                            </div>
                        </div>
                        <!-- End Prodactes -->
                    </div>
                </div>
                <!-- End Left side columns -->
            </div>
        </section>
    </main>
    <!-- End #main -->

   

</body>

