
<app-navbar></app-navbar>
<body>
    <section class="drawer">
        <div class="col-md-12 size-img back-img">
            <div class="effect-cover">
                <h3 class="txt-advert animated">Bienvenue  ! </h3>
            </div>
        </div>

        <div class="container secondary-page">
            <section id="login" class="login section">

                <div class="container">
                    <div class="top-score-title right-score col-md-12">
                        <h3>Vous n'avez pas <span>un compte</span><span class="point-int"> ?</span></h3>
                        <div class="inner">

                            <div class="row">
                                <div class="col-lg-3">
									<div class="login-left">

									</div>
								</div>

                                <div class="col-lg-9">
                                    <div class="login-form">
                                        <div class="row">
                                            <h2> S'inscrire Ici</h2>
                                            <p>Vous avez déja un compte ? <a href="/login">Connecter Ici</a></p>
                                            <!-- Form -->
                                            <form class="form" [formGroup]="registerForm" (submit)="onSubmit()">
                                                
                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input"
                                                        class="col-sm-2 col-form-label">nom
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="name" formControlName="name"
                                                            class="form-control" id="horizontal-firstname-input">
                                                        </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input"
                                                        class="col-sm-2 col-form-label">Prénom </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="lname"
                                                           formControlName="lastname" class="form-control"
                                                            id="horizontal-firstname-input">
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input"
                                                        class="col-sm-2 col-form-label">Age
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <input type="number" name="age"formControlName="age"
                                                            class="form-control" id="horizontal-firstname-input">
                                                    </div>
                                                </div>

                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input"
                                                        class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" name="email"formControlName="email"
                                                            class="form-control" id="horizontal-email-input"
                                                            formControlName="email">
                                                        
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input"
                                                        class="col-sm-2 col-form-label">Mot de passe</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" name="password"
                                                           formControlName="password" class="form-control"
                                                            id="horizontal-password-input">
                                                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                                                                <div *ngIf="f['password'].errors['pattern']">Password not valid.</div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input"
                                                        class="col-sm-2 col-form-label">Numéro de téléphone</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="tel" formControlName="telephone"
                                                            class="form-control" id="horizontal-password-input"
                                                            required>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-6">
                                                    <div id="register-submit">
                                                        <input id="bt1" type="submit"  value="Envoyer" />
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                        <!--/ End Form -->
                                    </div>
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </section>


</body>
<app-footer></app-footer>